*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	/*
		Text colour
	*/
	--h1-primary-colour: rgba(
		0,
		0,
		0,
		0.9
	); /* Mainly used for the main heading of each page (other than home page). */
	--h2-primary-colour: #56688e; /* Used for heading: Overview, Services, Mission, Vision, Objectives & on About page*/
	--h2-secondary-colour: #579c8f; /* Used for headings on the Projects page*/
	--p-primary: rgba(0, 0, 0, 0.8);

	/*
		Background (bg) colours
	*/
	--btn-bg-primary: #579c8f; /* Mainly used for Our Services btn. */
	--btn-bg-secondary: #7690c9; /* Mainly used for About Us btn. */
	--btn-bg-tertiary: #1a2646; /* Mainly used for learn more btn. */
	--btn-bg-project-duration: #56688e; /* Used for project duration. */
	--btn-bg-project-value: #a7c5d0; /* Used for project value.*/
	--bg-lint: #1a2646; /* Used at the top and bottom of each page. */

	--active-link-border: #56688e;
}

nav {
	background-color: rgba(0, 0, 0, 0.4);
}

.contact-information-secondary {
	color: white;
	background-color: var(--bg-lint);
}

/*
	ISSUE: Not working - trying to add border-bottom to the active link but it isn't registering (seems it's being overwritten by Bootstrap)
*/
.navbar-nav > a .nav-link .active {
	/* border-bottom: 4px solid var(--active-link-border); */
}
